@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b0a;
}

.text-gradient {
  background: rgb(86, 72, 251);
  background: linear-gradient(
    90deg,
    rgba(86, 72, 251, 1) 0%,
    rgba(0, 255, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
  @apply w-[328px] h-[50px] rounded-[10px] px-[5px] bg-[#1C1C1C] text-[16px] text-[#5A5A5A] outline-none pl-[14px];
}
