
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.graphs{
    background-image: url('../../public/images/graph.png');
}

.bg_green{
    background-image: url('../../public/images/Green_Bg.png');
}

.bg_pink{
    background-image: url('../../public/images/pink_bg.png');
}

